<!-- block about.html -->
{% load static %}
<div class="about">
    <div class="about-text">
        <h2>О НАС</h2>
        <p>Добро пожаловать в нашу школу театрального искусства! Мы — творческое сообщество, объединяющее людей, стремящихся развивать свои актерские способности.</p>
        <p>В нашей школе мы предлагаем разнообразные курсы для всех уровней — от начинающих до опытных актеров. Наши преподаватели — профессионалы с богатым опытом работы в театре и кино, которые помогут вам раскрыть свой потенциал, освоить техники актерского мастерства и научиться взаимодействовать с партнерами на сцене.</p>
        <p>Мы верим, что театр — это не только искусство, но и мощный инструмент самовыражения и личностного роста. Здесь вы сможете не только развить свои актерские навыки, но и найти новых друзей, научиться работать в команде и преодолевать собственные страхи.</p>
        <p>Присоединяйтесь к нам и откройте для себя мир театра!</p>
    </div>
    
    <div class="about-right">
        <div class="about-image">
            <img src="{% static 'images/about/about_image.jpg'%}" alt="Потолок театра">
        </div>
        <div class="about-quote">
            <p class="p-about-quote">"Театр — это зеркало, в котором мы видим отражение самих себя." — Константин Станиславский</p>
        </div>
    </div>
</div>
