<div class="courses">
    <div class="courses_header">
        <h2>Наши курсы</h2>
    </div>
    <div class="courses_card_wrapper">
        <div class="card">
            <img src="static/images/courses/corse1.png" alt="">
            <p>Свет и тень танца</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse2.png" alt="">
            <p>Сквозь маску</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse3.png" alt="">
            <p>Падение в тишину</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse4.png" alt="">
            <p>Суть человека</p>
        </div>

        <div class="card">
            <img src="static/images/courses/corse5.png" alt="">
            <p>Театр - дело вкуса</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse6.png" alt="">
            <p>Нерассказанные истории</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse7.png" alt="">
            <p>Речь и эмоции</p>
        </div>
        <div class="card">
            <img src="static/images/courses/corse8.png" alt="">
            <p>Искусство выражение</p>
        </div>
    </div>
</div>