<!-- block creative_process.html -->
{% load static %}
<div class="creative_process">
    <div class="creative_process_header">
        <h2>Наш творческий процесс</h2>
    </div>
    <div class="carousel">
        <button class="prev">
            <img src="{% static 'images/slider/left_slider_button.svg'%}" alt="Влево">
        </button>
        <div class="carousel-container">
            {% for image in images %}
            <img src="{% static 'images/slider/image1.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image2.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image3.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image4.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image5.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image6.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image7.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image8.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image8.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image9.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image10.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image11.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image12.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image13.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image14.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image15.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image16.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image17.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image19.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image20.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image21.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image22.png' %}" alt="Фото">
            <img src="{% static 'images/slider/image23.png' %}" alt="Фото">

            
            {% endfor %}
        </div>
        <!-- <div class="carousel-container">
            {% for image in images %}
                <img src="{{ image.url }}" alt="Фото">
            {% endfor %}
        </div> -->
        <button class="next">
            <img src="{% static 'images/slider/right_slider_button.svg'%}" alt="Влево">
        </button>
    </div>
</div>
