<!-- block header.html -->
{% load static %}
<header class="header">
    <nav class="nav">
        <div class="logo">
            <img src="{% static 'images/logo.svg' %}" alt="Школа театрального искусства">
        </div>
        <ul class="nav-menu">
            <li><a href="#about">О нас</a></li>
            <li><a href="#courses">Курсы</a></li>
            <li><a href="#tickets">Билеты</a></li>
            <li><a href="#contacts">Контакты</a></li>
        </ul>
        <div class="login-icon">
            <a href="{% url 'login' %}">
                <img src="{% static 'images/login-icon.svg' %}" alt="Вход">
            </a>
        </div>
    </nav>
    
    <div class="header_images_block">
        <img class="header_images header_images1" src="{% static 'images/header_images1.png' %}" alt="фото1">
        <img class="header_images header_images2" src="{% static 'images/header_images2.png' %}" alt="фото2">
        <div class="header_column">
            <img class="header_images header_images3" src="{% static 'images/header_images3.png' %}" alt="фото3">
            <img class="header_images header_images4" src="{% static 'images/header_images4.png' %}" alt="фото4">
        </div>
        <img class="header_images header_images5" src="{% static 'images/header_images5.png' %}" alt="фото5">
    </div>

    <div class="header_text">
        <h1>Школа театрального искусства</h1>
        <p>Актера нельзя воспитать и обучить, если не воспитать в нем человека.</p>
    </div>
</header>
