<!-- block student_participation.html -->
{% load static %}
<div class="student_participation">
    <div class="student_participation-image">
        <img src="{% static 'images/student_participation.png' %}" alt="Фото группы актеров студентов">
    </div>
    <div class="student_participation-text">
        <h2>Участие учеников в театре</h2>
        <p>После завершения наших курсов у учеников открывается уникальная возможность продолжить свою карьеру в нашем театре. Мы не просто обучаем актерскому мастерству — мы создаем платформу для дальнейшего развития и профессионального роста.</p>
        <p>Каждый выпускник курсов получает шанс стать частью нашего творческого коллектива, участвуя в постановках и проектах театра. Это не только возможность применить полученные знания на практике, но и шанс работать в команде с опытными актерами и режиссерами, обмениваться идеями и развивать свои навыки в реальных условиях.</p>
        <p>Мы верим, что талант и страсть к театру должны иметь возможность реализоваться. Поэтому мы активно поддерживаем наших выпускников, предоставляя им площадку для творчества и самовыражения. Присоединяйтесь к нам, и ваш путь в мир театра может стать началом яркой и успешной карьеры!</p>
    </div>
</div>
