<div class="teachers">
    <div class="teachers_header">
        <h2>Наши преподаватели</h2>
    </div>
    <div class="teachers_card_wrapper">
        <div class="card">
            <img src="static/images/teacher1.jpg" alt="">
            <p>Регина Громова</p>
        </div>
        <div class="card">
            <img src="static/images/teacher2.jpg" alt="">
            <p>Андрей Баженов</p>
        </div>
        <div class="card">
            <img src="static/images/teacher3.jpg" alt="">
            <p>Жан Моро</p>
        </div>
        <div class="card">
            <img src="static/images/teacher4.jpg" alt="">
            <p>Анна Игнатова</p>
        </div>
    </div>
</div>