{% load static %}
<div class="team">
    <div class="team_header">
        <h2>Наша команда</h2>
    </div>
    <div class="team_card_wrapper">
        <div class="card">
            <img src="static/images/teachers.svg" alt="">
            <p>7</p>
            <p>Преподавателей</p>
        </div>
        <div class="card">
            <img src="static/images/costumers.svg" alt="">
            <p>9</p>
            <p>Костюмеров</p>
        </div>
        <div class="card">
            <img src="static/images/make-up.svg" alt="">
            <p>12</p>
            <p>Гримеров</p>
        </div>
        <div class="card">
            <img src="static/images/actors.svg" alt="">
            <p>32</p>
            <p>Актеры</p>
        </div>
        <div class="card">
            <img src="static/images/workers.svg" alt="">
            <p>54</p>
            <p>Закулисных работника</p>
        </div>
    </div>
</div>