@font-face {
    font-family: 'AleksandraC'; /* Название шрифта */
    src: url('fonts/AleksandraC_regular.otf') format('opentype'); /* Укажите путь */
    font-weight: normal;
    font-style: normal;
}

/* Применение шрифта */
body {
    font-family: 'AleksandraC', sans-serif;
}

a {
    text-decoration: none;
    color: #000000;
}

p {
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 14px;
    color: #ffffff;    

}

span {
    color: #ffffff;
}

h1, h2 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 24px;
}

h3 {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-size: 14px;
}
/*
Основной контейнер шапки
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 600px;
    background-color: #000000;  
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.logo img {
    width: 154px;
    height: 50px;
}

.nav {
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 95px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.login-icon img {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.header_images_block {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

.header_images1 {
    width: 400px;
    height: 400px;
}

.header_images2 {
    width: 250px;
    height: 400px;
}

.header_images3 {
    width: 200px;
    height: 194px;
}

.header_images4 {
    width: 200px;
    height: 194px;
}

.header_images5 {
    width: 400px;
    height: 400px;
}

.header_column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.header_text {
    margin: 0%;
    padding: 0;
}

/*
about.html
*/

.about {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 600px;
    background-color: #FFFDD0;
}

.about-text {
    padding: 50px;
    background-color: #B81E1E;
    text-align: center;
    color: #ffffff;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    box-sizing: border-box;
}

.about-right {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    width: 50%; /* Блок занимает половину */
    align-items: center;
    justify-content: space-between;
    height: 100%;
    box-sizing: border-box;
}

.about-image {
    width: 100%;
    height: 50%; /* Изображение занимает 50% блока */
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет контейнер */
}

.about-quote {
    text-align: center;
    font-style: italic;
    font-size: 18px;
    color: #000000;
    width: 100%;
    height: 50%; /* Цитата занимает оставшиеся 50% */
}

.about-quote p {
    color: #000000;
    margin-top: 200px;
    margin-left: 100px;
    margin-right: 100px;
}

/*
creative_process
*/

.creative_process {
    width: 100%;
    height: 600px;
    background-color: #000000; /* Черный фон */
    display: flex;
    flex-direction: column; /* Структурируем контент */
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.creative_process_header {
    text-align: center;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Карусель */
.carousel {
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
}

/* Контейнер изображений */
.carousel-container {
    display: flex;
    gap: 10px;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden; /* Скрывает лишние изображения */
    white-space: nowrap; /* Запрещает перенос изображений на новую строку */
}


.carousel-container img {
    width: 25%; /* Показываем 4 изображения */
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
}

/* Кнопки карусели */
button {
    background-color: #ffffff;
    /* background: none; */
    border: none;
    cursor: pointer;
}

/* Стили SVG-стрелок */
.prev, .next {
    pointer-events: auto; /* Разрешаем клики */
    z-index: 10; /* Поднимаем кнопки над изображениями */
}

/*
Наша команда
*/

.team {
    background-color: #B81E1E;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column; /* Структурируем контент */
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}
.team_card_wrapper {
    display: flex;
    justify-content: center; /* или space-between / space-around, в зависимости от нужного распределения */
    align-items: center;     /* Центрирование по вертикали, если требуется */
    gap: 10px;               /* Отступы между карточками, можно изменить по вкусу */
  }

.card {
    background-color: #ffffff;
    width: 200px;
    height: 300px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center;      
}

.team p{
    color: #000000;
    text-align: center;
}

/* Наши преподаватели */

.teachers {
    background-color: #FFFDD0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column; /* Структурируем контент */
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.teachers h2{
    color: #000000;
}

.teachers_card_wrapper {
    display: flex;
    justify-content: center; /* или space-between / space-around, в зависимости от нужного распределения */
    align-items: center;     /* Центрирование по вертикали, если требуется */
    gap: 20px;               /* Отступы между карточками, можно изменить по вкусу */
}

.teachers .card{
    height: 300px;
    width: 200px;
    background-color: #B81E1E
}

.teachers img{
    height: 200px;
    width: 150px;
}

/*
Почему стоит выбрать нас?
*/

.why_us {
    background-color: #000000;
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row; /* Горизонтальное расположение */
    align-items: center;
    justify-content: center; /* Центрирование */
    box-sizing: border-box;
}

.red {
    padding: 10px;
    background-color: #B81E1E;
    width: 50%;
    height: 100%;
    order: 0; /* Красный блок слева */
}

.black { 
    padding: 10px;
    background-color: #000000;
    width: 50%;
    height: 100%;
    order: 1; /* Черный блок справа */
}

/*
Наши преподаватели
*/

.courses {
    background-color: #FFFDD0;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column; /* Структурируем контент */
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    padding: 10px;
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.courses h2{
    color: #000000;
}

.courses_card_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 блока в ряд */
    grid-template-rows: repeat(2, auto); /* 2 ряда */
    justify-content: center; /* или space-between / space-around, в зависимости от нужного распределения */
    align-items: center;     /* Центрирование по вертикали, если требуется */
    gap: 20px;               /* Отступы между карточками, можно изменить по вкусу */
}

.courses .card{
    height: 220px;
    width: 150px;
    background-color: #000000
}

.courses img{
    height: 140px;
    width: 100px;
}

.courses p{
    text-align: center;
}

/*
Участие учеников в театре
*/

.student_participation {
    background-color: #B81E1E;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column; /* Структурируем контент */
    align-items: center;
    justify-content: center; /* Центрируем элементы */
    box-sizing: border-box;
    padding-top: 30px;
    padding-bottom: 30px;
}

.student_participation-image{
    margin: 0;
    padding: 0;
    width: 850px;
    height: 370px;
    display: flex;

}

/*
Наши театральные постановки
*/

.performances {
    background-color: #000000;
    width: 100%;
    height: 600px; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем по вертикали */
    padding-top: 30px;
    padding-bottom: 30px;
}

.performances h2 {
    text-align: center;
}

.performances-wrapper {
    display: flex; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем по вертикали */
    justify-content: space-between; /* Разделяем равномерно */
    gap: 20px; /* Добавляем отступ между блоками */
}

.performances-text {
    width: 50%; /* Текст занимает половину ширины */
}

.performances-images {
    display: flex; /* Размещает элементы в строку */
    align-items: center; /* Выравнивание по вертикали */
    justify-content: space-between; /* Равномерное распределение */
    gap: 10px; /* Добавляет отступ между блоками */
    width: 420px; /* Изображение занимает половину */
    height: 420px;
}

.performances-images img {
    width: 310px; /* Заполняет контейнер */
    height: 310px; /* Сохраняет пропорции */
}

.performances_collum {
    display: flex;
    flex-direction: column; /* Элементы располагаются вертикально */
    align-items: center; /* Центрируем изображения */
    gap: 10px; /* Добавляем отступы между картинками */
}

.performances_collum img {
    width: 152px; /* Заполняет контейнер */
    height: 152px; /* Сохраняет пропорции */
}

performances-button {
    background-color: #B81E1E;
    color: #ffffff;
}

/*
Наш тур
*/

.tour {
    background-color: #B81E1E;
    width: 100%;
    height: 600px; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем по вертикали */
    padding-top: 30px;
    padding-bottom: 30px;
}

.tour h2 {
    text-align: center;
}

/*
Наши контакты
*/

.contacts {
    background-color: #000000;
    width: 100%;
    height: 600px; /* Размещаем элементы в строку */
    align-items: center; /* Выравниваем по вертикали */
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacts h2 {
    text-align: center;
}

.contacts img {
    width: 420px;
    height: 420px;
    margin: 30px;
}

.contacts-wrapper {
    display: flex;
    justify-content: space-between; /* Равномерное распределение */
    align-items: center;
    overflow: hidden; /* Предотвращение выхода за границы */
    width: 100%;
    max-width: 90%; /* Ограничение размера родительского блока */
}

.conracts-info{
    width: 520px;
    height: 520px;
}

.conracts-addres, 
.contacts-phone {
    background-color: #ffffff;
    width: 300px;
    height: 135px;
    margin: 20px;
    padding: 30px;
}

.conracts-addres p,
.contacts-phone p {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.conracts-addres h3,
.contacts-phone h3 {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
}

.conracts-addres a,
.contacts-phone a {
    text-decoration: none;
    color: inherit;
}

.contacts-image .contacts-info .contacts-network {
    flex: 1; /* Равномерное распределение ширины */
    max-width: 100px; /* Ограничение размера */
    padding: 10px;
    border: 1px solid #000;
}

.contacts-network{
    align-items: center;
    margin: 0;
    padding: 0;
}

.contacts-network h3{
    text-align: center;
}

.contacts-network img{
    height: 50px;
}


footer p {
    text-align: center;
}

/*
Форма входа
*/

.login_modal {
    align-items: center;
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1000; /* Поверх всех элементов */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0); /* Затемнение фона */
}


.login_modal input {
    width: 80%;
    height: 30px;
    margin: 10px;
    border-radius: 10px;    
    background-repeat: no-repeat;
    background-position: 10px center; /* Расположение слева */
    background-size: 20px 20px; /* Размер изображения */
    padding-left: 40px; /* Чтобы текст не перекрывал иконку */
    border: none;
}

.login_modal button {
    width: 50%;
    height: 30px;
    margin: 10px;
    border-radius: 9px;
    background-color: #ffffff; /* Цвет кнопки */
    color: #000000; /* Цвет текста */
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 20px 20px;
    padding-left: 40px; /* Чтобы текст не перекрывал иконку */
    transition: 0.3s;
    border: none;
}

.login_username {
    background-image: url('name.svg'); /* Путь к SVG */
}

.login_password {
    background-image: url('password.svg'); /* Путь к SVG */
}


.modal-content {
    background: #B81E1E;
    width: 30%;
    padding: 20px;
    margin: 10% auto; /* Центрирование */
    border-radius: 8px;
    position: relative;
}

.modal-content form {
    display: flex;
    flex-direction: column; /* Размещаем элементы вертикально */
    align-items: center; /* Центрируем по горизонтали */
    justify-content: center; /* Центрируем по вертикали */
    width: 100%;
}


.close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}




.login_menu {
    display: flex; /* Включаем Flexbox */
    justify-content: space-between; /* Равномерное распределение */
    align-items: center; /* Выравнивание по вертикали */
    width: 100%; /* Задаем ширину */
}

.login_login,
.login_registration {
    padding: 15px;
}

.remember_password a {
    text-align: center;
    display: block; /* Чтобы `a` вел себя как блочный элемент */    
}


